<template lang="html">
  <div>
    <sui-checkbox
      toggle
      label="Auto Load"
      @change="setAutoLoad"
      :inputValue="autoLoad" />

    <sui-checkbox
      toggle
      label="Auto Evaluate"
      @change="setAutoEvaluate"
      :inputValue="autoEvaluate" />
  </div>
</template>

<script>
import { mapActions, mapGetters } from "vuex";

export default {
  name: "SharedActions",
  computed: mapGetters(["autoLoad", "autoEvaluate"]),
  methods: mapActions(["setAutoLoad", "setAutoEvaluate"])
};
</script>

<style>
.ui.secondary.menu {
  margin-bottom: 0;
}
.checkbox:first-child {
  margin-right: 20px;
}
</style>
