body {
  background-color: #edf0ec;
}
.ui.menu.inverted {
  border-radius: 0;
}
.ui.toggle.checkbox label:before,
.ui.toggle.checkbox:hover label:before {
  color: white;
  background: #676767 !important;
}
.ui.toggle.checkbox label,
.ui.toggle.checkbox input:checked ~ label {
  color: white !important;
}
