<template lang="html">
  <tr>
    <td class="left aligned">
      <sui-button
        icon="eye"
        color="yellow"
        :disabled="!isReadyToEvaluate()"
        @click.prevent="evaluate()" />
    </td>
    <td class="left aligned">{{ modelName }}</td>
    <td class="left aligned">{{ prediction }}</td>
    <td>
      <sui-button
        :color=loadButtonColor
        :icon=loadButtonIcon
        @click.prevent="toggleLoaded()" />
    </td>
  </tr>
</template>

<script>
import { mapGetters } from 'vuex';
import * as tf from '@tensorflow/tfjs';

const NO_PRED = 'No Prediction';
const PRED_DELAY = 500;

export default {
  name: 'ModelsRow',
  props: {
    'json-url': String,
    'model-name': String,
  },
  data: function() {
    return {
      loaded: false,
      model: null,
      prediction: NO_PRED,
    };
  },
  computed: {
    ...mapGetters(['autoLoad', 'autoEvaluate', 'isImageReady', 'imagePixels']),
    loadButtonColor: function() {
      return this.loaded === true ? 'green' : 'red';
    },
    loadButtonIcon: function() {
      return this.loaded === true ? 'check' : 'times';
    },
  },
  watch: {
    imagePixels() {
      this.prediction = NO_PRED;
      this.shouldAutoEvaluate();
    },
    autoLoad(currState) {
      if (currState === true) {
        this.loadModel();
      }
    },
    autoEvaluate(currState) {
      if (currState === true) {
        this.evaluate();
      }
    },
  },
  methods: {
    shouldAutoEvaluate: function() {
      if (this.autoEvaluate === true) {
        this.evaluate();
      }
    },
    loadModel: function() {
      tf.loadModel(this.jsonUrl).then(response => {
        this.model = response;
        this.loaded = true;
        this.shouldAutoEvaluate();
      });
    },
    unloadModel: function() {
      this.model = null;
      this.loaded = false;
      this.prediction = NO_PRED;
    },
    toggleLoaded: function() {
      this.loaded === false ? this.loadModel() : this.unloadModel();
    },
    isReadyToEvaluate: function() {
      return this.loaded === true && this.isImageReady === true ? true : false;
    },
    evaluate: function() {
      // timeout to indicate it's re-evaluating
      this.prediction = NO_PRED;
      setTimeout(() => {
        if (this.isReadyToEvaluate() === true) {
          tf.tidy(() => {
            const tfPixels = tf.tensor(this.imagePixels);
            const output = this.model.predict(
              tfPixels.reshape([-1, 28, 28, 1])
            );
            const axis = 1;
            this.prediction = Array.from(output.argMax(axis).dataSync())[0];
          });
        }
      }, PRED_DELAY);
    },
  },
  mounted: function() {
    if (this.autoLoad === true) {
      this.loadModel();
    }
  },
};
</script>
