<template lang="html">
  <table class="ui inverted blue selectable celled right aligned table">
    <thead>
      <th class="left aligned one wide"></th>
      <th class="left aligned">Title</th>
      <th class="left aligned three wide">Prediction</th>
      <th class="one wide">Loaded</th>
    </thead>
    <tbody>
      <template v-for="(model, index) in sampleModels">
        <Row :key=index :model-name=model.name :json-url=model.url />
      </template>
    </tbody>
  </table>
</template>

<script>
// This would ultimately be a json obj returned from a /models endpoint
const sampleModels = [
  { name: "mnist-sgd", url: "http://127.0.0.1:8000/01/model.json" },
  {
    name: "model 1",
    url: "http://127.0.0.1:8000/2018-06-12T08:56:59.475332/model.json"
  },
  {
    name: "model 2",
    url: "http://127.0.0.1:8000/2018-06-12T09:08:15.038599/model.json"
  },
  {
    name: "bad model",
    url: "http://127.0.0.1:8000/2018-06-12T09:10:24.394268//model.json"
  }
];

import Row from "./Row.vue";

export default {
  name: "ModelsTable",
  components: {
    Row
  },
  data: function() {
    return {
      sampleModels: sampleModels
    };
  }
};
</script>

<style scoped>
table {
  margin-top: 0 !important;
}
</style>