<template>
  <div class="ui container inverted" id="app">

    <div class="ui inverted menu">
      <div class="header item">MNIST VueJs Example</div>
      <div class="right menu">
        <div class="item">
          <SharedActions />
        </div>
      </div>
    </div>

    <div class="ui two column relaxed grid">
      <div class="column four wide">
        <ImageUpload />
      </div>
      <div class="column twelve wide">
        <ModelsTable />
      </div>
    </div>
  </div>
</template>

<script>
import ImageUpload from './components/Image/Upload.vue';
import ModelsTable from './components/Models/Table.vue';
import SharedActions from './components/Shared/Actions.vue';

export default {
  name: 'app',
  components: {
    ImageUpload,
    ModelsTable,
    SharedActions,
  },
};
</script>
