<template lang="html">
  <div class="preview-container">
    <canvas
      id="dstCanvas"
      height="28"
      width="28" />
    <canvas
      id="srcCanvas"
      height="224"
      width="224"
      @mousedown="startDrawing($event)"
      @mousemove="draw($event)"
      @mouseup="stopDrawing()"
      @mouseout="stopDrawing()" />
  </div>
</template>

<script>
import { mapActions, mapGetters } from "vuex";

export default {
  name: "Preview",
  data: function() {
    return {
      drawing: false,
      dstCanvas: null,
      dstContext: null,
      srcContext: null,
      srcCanvas: null
    };
  },
  computed: {
    ...mapGetters(["isImageReady", "isImageBase64Ready", "imageBase64"])
  },
  watch: {
    imageBase64() {
      this.updateCanvas(false);
    }
  },
  methods: {
    ...mapActions(["setImagePixels", "setImageBase64", "resetImageData"]),
    refresh: function() {
      this.dstContext.clearRect(
        0,
        0,
        this.dstCanvas.width,
        this.dstCanvas.height
      );
      this.srcContext.beginPath();
      this.srcContext.clearRect(
        0,
        0,
        this.srcCanvas.width,
        this.srcCanvas.height
      );
      this.srcContext.stroke();
      this.resetImageData();
    },
    updateCanvas: function() {
      this.isImageReady === true ? this.updateSrcCanvas() : this.refresh();
    },
    updateSrcCanvas: function() {
      const image = new Image();
      image.onload = () => {
        this.srcContext.drawImage(
          image,
          0,
          0,
          this.srcCanvas.width,
          this.srcCanvas.height
        );
        this.updateDstCanvas();
      };
      image.src = this.imageBase64;
    },
    updateDstCanvas: function(drawing = false) {
      const srcImageData = this.srcCanvas.toDataURL("image/png");

      var dstImage = new Image();
      dstImage.onload = () => {
        this.dstContext.drawImage(
          dstImage,
          0,
          0,
          this.dstCanvas.width,
          this.dstCanvas.height
        );
        if (drawing === true) {
          this.setImageBase64(this.dstCanvas.toDataURL("image/png"));
        }
        this.processPixels();
      };
      dstImage.src = srcImageData;
    },
    processPixels: function() {
      const canvasPixelData = this.dstContext.getImageData(
        0,
        0,
        this.dstCanvas.width,
        this.dstCanvas.height
      );
      const imagePixels = new Float32Array(
        canvasPixelData.width * canvasPixelData.height
      );

      for (let i = 0; i < canvasPixelData.data.length / 4; i++) {
        imagePixels[i] = canvasPixelData.data[i * 4] / 255;
      }
      this.setImagePixels(imagePixels);
    },
    startDrawing: function(event) {
      this.drawing = true;
      this.srcContext.moveTo(event.offsetX, event.offsetY);
    },
    stopDrawing: function() {
      if (this.drawing === true) {
        this.drawing = false;
        this.updateDstCanvas(true);
      }
    },
    draw: function(event) {
      if (this.drawing === true) {
        this.srcContext.lineTo(event.offsetX, event.offsetY);
        this.srcContext.stroke();
      }
    }
  },
  mounted: function() {
    this.dstCanvas = document.getElementById("dstCanvas");
    this.dstContext = this.dstCanvas.getContext("2d");

    this.srcCanvas = document.getElementById("srcCanvas");
    this.srcContext = this.srcCanvas.getContext("2d");
    this.srcContext.strokeStyle = "#ffffff";
    this.srcContext.lineWidth = 9;

    this.updateCanvas();
  }
};
</script>

<style scoped>
.preview-container {
  border: 10px solid #21ba45;
  border-radius: 4px;
  height: 246px;
  margin: 2px 0 8px;
  padding: 1px;
  width: 246px;
}
#dstCanvas {
  display: none;
}
canvas {
  background-color: black;
  cursor: crosshair;
}
</style>
