<template>
  <div class="ui">
    <form enctype="multipart/form-data">
      <input type="file"
        @change="upload($event.target.files)"
        accept="image/*"
        class="fileInput"
        id="fileInput"
        ref="fileInput">
    </form>

    <ImagePreview />

    <sui-button
      @click.prevent="$refs.fileInput.click()"
      :content="uploadBtnText"
      color="orange"
      icon="upload"
      label-position="left"
      size="tiny"
      animated
      compact
      small />

    <sui-button
      class="clear-btn right"
      compact
      small
      icon="refresh"
      content="Refresh"
      size="tiny"
      color="red"
      @click.prevent="refresh()" />
  </div>
</template>

<script>
import { mapActions, mapGetters } from "vuex";
import ImagePreview from "./Preview.vue";

export default {
  name: "ImageUpload",
  components: {
    ImagePreview
  },
  computed: {
    ...mapGetters(["filename"]),
    uploadBtnText: function() {
      return this.filename.length > 0 ? this.filename : "Upload";
    }
  },
  methods: {
    ...mapActions(["resetImageData", "setImageBase64", "setFilename"]),
    refresh() {
      this.resetImageData();
      this.resetFileInput();
    },
    resetFileInput() {
      document.getElementById("fileInput").value = "";
    },
    upload(file) {
      this.resetImageData();

      if (file[0]) {
        let reader = new FileReader();
        reader.onload = () => {
          this.setImageBase64(reader.result);
          this.setFilename(file[0].name);
          this.resetFileInput();
        };
        reader.readAsDataURL(file[0]);
      }
    }
  }
};
</script>

<style scoped>
.clear-btn {
  float: right;
}
.fileInput {
  height: 0;
  width: 0;
  position: absolute;
  top: 0;
  left: 0;
}
</style>
